body {
  background-image: url("../photos/wallpaperpuzzle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  margin: 10px;
  color: #6666ff;
}

header{
  text-align: center;
  padding: 0 20px;
}

input{
  width: 40%;
  font-size: 24px;
  border-radius: 5%;
  padding: 10px;
  box-shadow: 10px 10px 10px #888888;
}

#lightgallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  align-items: center;
  margin: auto;

}

img {
  margin: 25px;
  display: " ";
  box-shadow: 10px 10px 10px #888888;
  border-radius: 5%;
}

img:hover {
  border: 3px solid #6666ff;
  width: 190px;
  height: 190px;
}



/*--------------------lightgallery stylish------------------------------------*/

.lg-toolbar .lg-close:after {
  content: "⤬";
}

.lg-toolbar .lg-download:after {
  content: "⬇";
}

.lg-actions .lg-prev:after {
  content: "◄";
}

.lg-actions .lg-next:before {
  content: "►";
}

.lg-sub-html {
  bottom: 30px;
}


/*----------------------------Media-Queries-----------------------------------*/

@media(max-width: 1017px){

  h1 {
    font-size: 20px;
  }

  input{
    font-size: 12px;
    width: 90%;
  }

  img {
    width: 200px;
    height: 200px;
  }

  #lightgallery{
    justify-content: center;
  }


}
