header{
  text-align: center;
  padding: 20px 20px 0;
}

input{
  width: 40%;
  font-size: 24px;
  border-radius: 5%;
  padding: 10px;
  box-shadow: 10px 10px 10px #888888;
}

#lightgallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  align-items: center;
  margin: auto;

}

img {
  margin: 25px;
  display: " ";
  box-shadow: 10px 10px 10px #888888;
  border-radius: 5%;
}

/*--------------------lightgallery stylish------------------------------------*/

.lg-toolbar .lg-close:after {
  content: "⤬";
}

.lg-toolbar .lg-download:after {
  content: "⬇";
}

.lg-actions .lg-prev:after {
  content: "◄";
}

.lg-actions .lg-next:before {
  content: "►";
}

.lg-sub-html {
  bottom: 30px;
}


/*----------------------------Media-Queries-----------------------------------*/

@media(max-width: 1017px){

  input{
    font-size: 12px;
    width: 90%;
  }

  img {
    width: 200px;
    height: 200px;
  }

  #lightgallery{
    justify-content: center;
  }


}
