header{
  text-align: center;
  padding: 20px 20px 0;
}

input{
  width: 40%;
  font-size: 24px;
  border-radius: 5%;
  padding: 10px;
}

#lightgallery {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  margin: 0 10%;
}

img {
  padding: 25px;
  display: " ";
}

/* lightgallery stylish */

.lg-toolbar .lg-close:after {
  content: "⤬";
}

.lg-toolbar .lg-download:after {
  content: "⬇";
}

.lg-actions .lg-prev:after {
  content: "◄";
}

.lg-actions .lg-next:before {
  content: "►";
}

.lg-sub-html {
  bottom: 30px;
}
